.bd-min-w-40 {

    min-width: 10rem;
}

.bd-min-h-28 {

    min-height: 7rem;
}

.bd-truncate-overflow {

    --max-lines: 2;
    --lh: 1.25rem;
    line-height: var(--lh);

    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

.bd-truncate-overflow::before {
    position: absolute;
    content: "...";
    /* tempting... but shows when lines == content */
    /* top: calc(var(--lh) * (var(--max-lines) - 1)); */

    /*
    inset-block-end: 0;
    inset-inline-end: 0;
    */
    bottom: 0;
    right: 0;
}

.bd-truncate-overflow::after {
    content: "";
    position: absolute;
    /*
    inset-inline-end: 0;
    */
    right: 0;
    /* missing bottom on purpose*/
    width: 1rem;
    height: 1rem;
    background: white;
}

.bd-truncate-overflow-sm {

    --max-lines: 2;
    --lh: 1rem;
    line-height: var(--lh);

    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; /* space for ellipsis */
}

.bd-truncate-overflow-sm::before {
    position: absolute;
    content: "...";
    /* tempting... but shows when lines == content */
    /* top: calc(var(--lh) * (var(--max-lines) - 1)); */

    /*
    inset-block-end: 0;
    inset-inline-end: 0;
    */
    bottom: 0;
    right: 0;
}

.bd-truncate-overflow-sm::after {
    content: "";
    position: absolute;
    /*
    inset-inline-end: 0;
    */
    right: 0;
    /* missing bottom on purpose*/
    width: 1rem;
    height: 1rem;
    background: white;
}
