[v-cloak] {
    display: none;
}

#app {

    .v-input {

        input, textarea {

            box-shadow: none;
            background: transparent;
        }
    }
}

// Utilities
@import "./utilities";
